# Local OS/editor files
.DS_Store
*.swp
*.swo
*.tmp

# Build output
build/

# Retail CD
*.iso


# Generated binaries. 
# NOTE: The original code did contain some binaries that have been removed.
*.exe
*.dll
*.lib
*.zip
*.7z
*.tar
*.tar.gz
*.dmg
*._xe

# Runtime/debug dumps, some of which were left behind in the original code zip.
varlogs/
TheBoard.bmp
trade1.bmp
error.out
*.log
UDF*.TXT
UDF*.txt
*.msv
*.sgd
